<launch>

      <!-- Set the Gazebo model path to include the custom model directory -->
     <env name="GAZEBO_MODEL_PATH" value="$(find ibvs)/models"/>

    <!-- arguments for the urdf xacro file, rviz visualization and namespace -->
    <arg name="model" default="$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) use_nominal_extrinsics:=true add_plug:=true" />
    <param name="/use_sim_time" value="true" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- this will include the launch file for gazebo given the model -->
    <include file="$(find realsense2_description)/launch/gazebo.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="gui" default="true"/>
    </include>

   <!-- Spawn the custom model from the SDF file -->
    <node
      name="model_spawner"
      pkg="gazebo_ros"
      type="spawn_model"
      output="screen"
      args="-file $(find ibvs)/models/viso/model.sdf -sdf -model resized -x 0 -y 0 -z 0.005 -R 1.5708 -P 0 -Y 1.5708"
    />

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)" />

    <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      args="-d $(find realsense2_description)/rviz/urdf.rviz"
      required="true"
    />

    <!-- Start Joint State Publisher (if needed) -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <!-- Run gazebo_vel_broadcaster script -->
    <node
        name="gazebo_vel_broadcaster"
        pkg="gazebo_vel_broadcaster"
        type="gazebo_vel_broadcaster.py"
        launch-prefix="bash -c 'sleep 2; $0 $@'"
    />

    <!-- <param name="object_description" textfile = "$(find ibvs)/urdf/object.urdf" /> -->
    <!-- <node name="spawn_object" pkg="gazebo_ros" type="spawn_model" args="-param object_description -urdf -model object -x 0.75" />    -->

</launch>

